* {
    font-size: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 200ms ease;
}

/* ======== Global ======== */

.page {
    width: 100vw;
    height: 100vh;
    display: block;
}

a {
    font-size: 100%;
    text-decoration: none;
    transition: 400ms ease;
    text-shadow: 0 0.5px 1px #311a1aa9;
}
a:hover {
    text-shadow: 0 3px 3px #311a1aa9;
}

@keyframes float {
    0% {
        transform: translate(-50%, -5px);
    }

    50% {
        transform: translate(-50%, +5px);
    }

    100% {
        transform: translate(-50%, -5px);
    }
}
@keyframes float2 {
    0% {
        transform: translate(-50%, +5px);
    }

    50% {
        transform: translate(-50%, -5px);
    }

    100% {
        transform: translate(-50%, +5px);
    }
}


/* ======= Mainpage =======*/

.frst a {
    color: rgb(255, 51, 61);
}

.scnd a {
    color: #d5e5f8;
}

.frst {
    text-align: center;
}

.title {
    font-size: 200%;
    color: rgb(255, 51, 61);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub {
    font-size: 70%;
    color: rgb(255,84,86);
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    width: auto;
    height: 40px;
    margin-top: 85vh;
    transition: 100ms ease; 
    transform: translate(-50%, 0);
}

.ins {
    animation: float 3s linear infinite;
}
.dis {
    animation: float2 3s linear infinite;
}
.drb {
    animation: float 3s linear 500ms infinite;
}
.git {
    animation: float2 3s linear 500ms infinite;
}
.clk {
    animation: float2 3s linear 250ms infinite;
}
.icon:hover {
    transform: translate(0, -5px);
}

.scnd {
    text-align: center;
    background-color: rgb(255, 51, 61);
}

.heading {
    font-size: 190%;
    color: #ffffff;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    font-size: 70%;
    color: #ffffff;
    position: absolute;
    top: 142.5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* ===== MediaQueries ===== */

@media only screen and (max-width: 500px) {
    * {
        font-size: 20px;
    }
}

@media only screen and (min-width: 500px) {
    * {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    * {
        font-size: 50px;
    }
}











