* {
    transition: 300ms ease;
}

#lock {
    width: 300px;
    font-size: 40px;
    margin: 40vh calc(50vw - 150px) 0 calc(50vw - 150px);
    text-align: center;
}

#eye {
    font-size: 40px;
    margin: 20px auto;
    text-align: center;
}
#eye:hover {
    font-size: 43px;
}
